@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family= Amatic +SC:wght@400;700 & display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

    
* {
    padding: 0px;
    margin: 0px;
}

:root {
    --cor00: #A3BFD9;
    --cor01: #6997BF;
    --cor02: #3F83BF;
    --cor03: #234459;
    --cor04: #F2B694;

    --font-padrao: arial, verdana, helvetica, sans-serif;
    --font-destaque: 'bebas neue';
    --font-manoescrita: 'Amatic SC', cursive;
}

body {
    background-color: var(--cor01);
    background-image: url(imagens/img.fundo.paisagem1000.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

header {
    margin: auto;
}

header > h1 {
    font-family:var(--font-manoescrita);
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to bottom,#3F83BF, #234459);
    text-align: center;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.43);
    background-color: white;
    padding: 30px 0px 30px 0px;
}

nav {
    margin: auto; 
    border: 40px;
    padding-bottom: 10px;
    background-color: var(--cor03);
    box-shadow: 0px 5px 5px  rgba(0, 0, 0, 0.255);
}

nav > a {
    font-family: var(--font-destaque);
    font-size: 20px;
    text-decoration: none;
    padding: 7px;
    color: white;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.516);
}

main#principal {
    min-width: 400px;
    max-width: 1000px;
    margin: auto;
}
main > p {
    font-family: var(--font-manoescrita);
    line-height: 30px;
    padding: 100px 25px 50px 25px;
    text-align: justify;
    color: white;
    font-size: 30px;
}



